{{!--
Full width visual banner
--}}

<div class="w-full">
  <img src="{{asset "images/banner-long.png"}}" class="hidden md:block m-auto"/>
  <img src="{{asset "images/banner.png"}}" class="block md:hidden"/>
</div>