{{!--
site-wide error overlay
--}}

<div class="absolute top-0 left-0 z-1 bg-container-dark w-full h-full flex flex-col items-center justify-center">
  <h1 class="text-light font-regular"><b>{{code}}</b> - {{description}}</h1>
  <a href="" class="absolute bottom-32 text-light-alt hover:cursor-pointer hover:text-[#CFCFCF]">Atkārtoti ielādēt lapu</a>
</div>