{{!--
site-wide overlay backdrop
--}}

<div id="{{identifier}}" class="hidden sm:hidden fixed transform translate-x-full transition-transform duration-300 ease-out z-40 fixed w-screen h-screen inset-0 bg-container-dark-t backdrop-blur-md" role="dialog" aria-modal="true">
  {{> @partial-block}}
</div>