{{!--
ForumsKubs logo with social accounts
--}}
<div class="w-full h-full flex-1 flex items-center justify-center">
  <div class="flex flex-col gap-4 text-white">
    <img id="kubs-logo"
         src="{{asset "images/logo.png"}}"
         alt="KUBS Logo"
         class="max-w-48 sm:max-w-64 transform opacity-0 translate-y-3
                motion-safe:transition-all motion-safe:duration-700 motion-safe:ease-out" />

    <div class="flex w-full max-w-48 sm:max-w-64 justify-between font-regular text-xs sm:text-sm">
      <a href="https://www.facebook.com/KubsKubam"
         data-social-link
         class="flex items-center gap-1 hover:underline opacity-0
                motion-safe:transition-opacity motion-safe:duration-500">
        <img src="{{asset "icons/facebook.svg"}}" alt="Facebook" class="max-h-4"/>
        kubskubam
      </a>

      <a href="https://www.instagram.com/forumskubs/"
         data-social-link
         class="flex items-center gap-1 hover:underline opacity-0
                motion-safe:transition-opacity motion-safe:duration-500">
        <img src="{{asset "icons/instagram.svg"}}" alt="Instagram" class="max-h-4"/>
        forumskubs
      </a>
    </div>
  </div>
</div>