{{!--
sponsor teaser container
--}}

<div class="w-full h-full bg-container-light p-8">
  <div class="contained opacity-0 translate-y-4 transition-all duration-700 ease-out fade-slide">
    <h3 class="text-3xl md:text-4xl font-extrabold mb-2">Studējošo pašpārvaldes</h3>
    <div>
      <p class="md:columns-2 font-light text-justify">Forums "KUBS" seminārā piedalās delegāti no Latvijas augstāko izglītības iestāžu studējošo pašpārvaldēm.</p>
    </div>
  </div>
</div>
<div class="w-full h-full bg-container-dark p-8">
  {{#get "posts" filter="tag:hash-member" order="title" limit="all" as |members|}}
    {{#if members}}
      <div class="contained grid place-items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
        {{#foreach members}}
          {{> "member-logo" member=this}}
        {{/foreach}}
      </div>
    {{/if}}
  {{/get}}
</div>