{{!--
site-wide navigation container
--}}

<nav id="site-nav" class="w-full hidden sm:flex justify-center gap-16">
  {{#foreach navigation}}
  <a id="site-nav-link" href="{{this.url}}" class="font-regular text-sm text-light text-center uppercase hover:cursor-pointer hover:underline {{#if current}}hidden{{/if}}">{{label}}</a>
  {{/foreach}}
</nav>

{{!-- mobile burger icon --}}
<nav id="mobile-nav-toggle" class="absolute z-50 top-4 right-4 sm:hidden">
  <img alt="Navigation toggle" src="{{asset "images/burger.svg"}}" class="max-h-6"/>
</nav>