{{!--
post variation for news
--}}

<div class="w-full h-full p-4 sm:p-8 md:p-16 bg-container-light">
  <article class="contained">
    <h1 class="post-title font-bold text-4xl">{{title}}</h1>
    <p class="font-regular text-sm">{{{html}}}</p>
  </article>
</div>