{{!< default}}

<main class="content flex flex-col">
  <header style="background-image: url({{asset "images/background.png"}})" class="relative p-16 w-screen bg-cover bg-center min-h-[550px] sm:min-h-[450px] flex flex-col">
    {{navigation}}
    {{> "hero"}}
  </header>
{{#post}}
  {{#has tag="#sponsor"}}
    {{> "sponsor-post"}}
  {{else}}
    {{#has tag="#member"}}
      {{> "member-post"}}
    {{else}}
      {{> "news-post"}}
    {{/has}}
  {{/has}}
{{/post}}
  {{> "footer"}}
</main>

{{#> "dialog-backdrop" identifier="mobile-nav-overlay"}}
  {{> "mobile/navigation" navigation=navigation}}
{{/"dialog-backdrop"}}