.gh-featured-container {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.gh-featured-post {
    display: none;
    padding: 3rem 0;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.gh-image-container {
    width: 100%;
    color: var(--color-highlight);
    background-size: contain;
    aspect-ratio: 2512/400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-container h2 {
    margin-bottom: 2rem;
}

.gh-container-dark {
    background-color: var(--color-base);
}

.gh-paragraph-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    text-align: justify;
}

.sponsor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 5rem;
}

.sponsor-list img {
    margin: 5px;
    transition: 0.3s;
}

.sponsor-list img:hover {
    margin-top: 0;
    margin-bottom: 10px;
    transition: 0.3s;
}

@media (max-width: 900px) {
    .gh-featured-container {display: none;}
    .gh-featured-post {display: grid}
    .gh-paragraph-container {grid-template-columns: 1fr;}
    .sponsor-list {justify-content: center;}
}
